*{
  margin: 0;
  padding: 0;
}

body{
  font-size:16px;
  line-height:normal;
  color:#000;
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  font-weight: normal;
  height: 100%;
}
ul{
margin: 0;
padding: 0;
list-style: none;
}
.clearfix::after{
content:"";
display: table;
clear: both;
}

.wrap{
  width: 1160px;
  margin:0 auto;
}
.header{
background-color:#eee;
padding-top: 46px;
}
.header-logo{
float: left;
margin-right: 200px;
}
.header-nav{
float: left;
}
.main-nav-list{
margin-top: 36px;
}
.main-nav-item{
  float: left;
  margin-left: 48px;
}
.main-nav-item:nth-of-type(1){
  margin-left: 0;
}
.basket{
  margin-left: 245px;

}
.main-nav-item a{
  color: #000;
  text-decoration: none;
}
.basket img{
  margin-right:20px;
}
.slide-2{
  display: none;
}
.slide-3{
  display: none;
}
.slide-pull-left{
float: left;
width: 380px;
margin-top: 84px;
margin-right: 27px;
}
.slide-img{
  float: left;
}
.slide-head{
  font-size: 55px;
  margin-bottom: 37px;
}
.slide-desc{
  margin-bottom: 44px;
}
.slide-btn{
color: #fff;
text-decoration: none;
background-color: #fb565a;
padding: 19px 55px;
border-radius: 5px;
}
.slider-nav{
margin:0 auto;
width: 95px;
position: relative;
}
.slider-nav-list{
  position: absolute;
  bottom: 95px;
}
.slider-nav-item{
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin-left: 18px;
}
.slider-nav-item:first-of-type{
  margin: 0;
}
.service-1{
  float: left;
  margin-top: 80px;
}
.service-2{
float: left;
margin-top: 80px;
margin-left: 100px;
}
.service-3{
  float:left;
  margin-top:80px;
  margin-left: 100px;
}
.service-heading{
  margin-top: 31px;
}
.service-desk{
  margin-top: 28px;
  margin-bottom: 55px;
}
.service-pull{
  height: 509px;
  border-bottom: 2px solid #eee;
}
.red-btn{
color: #fff;
text-decoration: none;
background-color: #fb565a;
padding: 19px 55px;
border-radius: 5px;
}
.green-btn{
  color: #fff;
  text-decoration: none;
  background-color: #00ca74;
  padding: 19px 55px;
  border-radius: 5px;
}
.yellow-btn{
  color: #fff;
  text-decoration: none;
  background-color: #efc84a;
  padding: 19px 55px;
  border-radius: 5px;
}
.about-pull{
  height: 525px;
  border-bottom: 2px solid #eee;
}
.about-features{
  float: left;
  margin-top: 80px;
}
.features-heading{
  font-size: 45px;
}
.features-desc{
  margin-top: 38px;
}
.features-list-heading{
  margin-top: 48px;
  font-weight: bold;
}
.features-list{
  margin-top: 37px;
}
.features-list-item{
  margin-bottom: 23px;
}
.about-indicators{
  float: right;
}
.about-indicators{
  margin-top: 47px;
}
.indicators-heading{
  margin-top: 47px;
  font-weight: bold;
}
.indicators-number-1{
  float: left;
  margin-top: 54px;
}
.indicators-number-2{
  float: left;
  margin-top: 54px;
  margin-left: 15px;
}
.indicators-number-3{
  float: left;
  margin-top: 54px;
  margin-left: 15px;
}
.number-big{
  font-weight: bold;
  font-size: 45px;
}
.number-desc{
  margin-top: 28px;
}
.clients-pull{
  height: 180px;
  border-bottom: 2px solid #eee;
}
.clients-list-item{
  float: left;
  opacity:.3;
  margin-right: 40px;
}
.clients-list-item:last-of-type{
  margin-right: 0;
}
.map{
  background: url("../img/map2.jpg");
  background-repeat: no-repeat;
  margin-top: 80px;
  background-size: contain;
  position: relative;
}
.map-adds{
  width: 318px;
  height: 308px;
  position: relative;
  background-color:#fff;
  top: -140px;
}
.adds-heading{
  font-weight: bold;
  font-size: 18px;
  padding-top: 53px;
  padding-left: 50px;
}
.adds{
padding-top: 34px;
padding-left: 51px;
}
.adds-phone{
  padding-top: 24px;
  padding-left: 51px;
}
.adds-btn-pull{
  margin-top: 41px;
  margin-left: 50px;
}
.adds-btn{
  color: #fff;
  text-decoration: none;
  background-color: #fb565a;
  padding: 15px 55px;
  border-radius: 5px;
  }
  .label-map{
    position: relative;
    top: 101px;
    left: 732px;
  }
  .map-modal{
    width: 960px;
    height: 590px;
    background: #fff;
    position: relative;
    top:-638px;
    left: 86px;
    display: ;
  }
  .modal-heading{
    font-size: 43px;
    padding-top: 75px;
    padding-left: 100px;
  }
  .modal-form{
    margin-top: 50px;
    width: 809px;
    height: 351px;
    margin-left: 100px;
  }
  .form-label{
    float: left;
  }
  .form-label:nth-child(2){
    padding-left: 40px;
  }
  .form-textbox{
    width: 360px;
    height: 48px;
    margin-top: 13px;
    border-radius: 5px;
    border: 2px solid #d7dcde;
  }
  .form-label-letter{
    float: left;
    margin-top: 37px;
  }
  .form-label{
    font-weight: bold;
  }
.form-textarea{
  width: 760px;
  height: 117px;
  margin-top: 13px;
  border-radius: 5px;
  border-color: #d7dcde;
  border-width:2px;
  resize:none;
}
.form-btn{
  margin-top: 47px;
  background-color: #fb565a;
  color: #fff;
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.modal-close{
  float: right;
  top: 76px;
  right: 90px;
  position: absolute;
  background: url("../img/close-cross.svg");
  background-repeat:no-repeat;
  width: 21px;
  height: 21px;
  opacity: .3;
  font-size: 0;
}
.footer-social-list{
  float: left;
  width: 260px;
}
.social-vk{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 2px;
  background: #e1e1e1 url("../img/vk-icon.svg") no-repeat center;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.social-fb{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 2px;
  background: #e1e1e1 url("../img/fb-icon.svg") no-repeat center;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.social-insta{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 2px;
  background: #e1e1e1 url("../img/insta-icon.svg") no-repeat center;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.footer-heading{
margin-left: 400px;
margin-bottom: 14px;
font-size: 36px;
font-weight: bold;
}
.footer-desc{
  margin-left: 400px;
  margin-bottom: 78px;
}
.header-heading{
  padding-top: 104px;
  padding-bottom: 118px;
  padding-left: 219px;
  font-size: 55px;
}
.products-filters{
  width: 260px;
  height: 772px;
  float: left;
}
